/*
 * Hi! I'm your stylesheet! I've got some sensible defaults here,
 * but feel free to change me to your heart's content!
 */

* {
  box-sizing: border-box;
  font-family: georgia, sans-serif;
}

body {
  background: linear-gradient(to right, #d3d3d3, #a8a8a88f, #d3d3d3, #a8a8a88f, #d3d3d3, #a8a8a88f, #d3d3d3);
  background-repeat: repeat;
  height: 100vh;
  padding: 0;
  margin: 0;
  width: 100vw;
}

nav {
  align-items: center;
  background-color: #ffffff;
  color: #c0c0c0;
  display: flex;
  height: 3em;
  padding-left: 1em;
  flex-wrap: wrap;
  border-radius: 0 0 1em 1em;
  justify-content: space-between;
  transform: translateY(0em);
  transition: transform 1s;
  position: fixed;
  z-index: 0;
  top: 0px;
  left: 15px;
  align-self: flex-end;
  box-shadow: 0.1vw 0.2vw #3a1e1e;
}

nav.active {
  transform: translateY(-6em);
}

nav a {
  font-size: 2em;
  border-radius: 1vw;
  transition: color 0s, background-color 0s;
}
nav a:hover {
  color: #0048ff;
  background-color: rgba(157, 148, 190, 0.603);
  box-shadow: #000000;
}

.navbarLink {
  height: 1.5em;
  margin: 0 1.5em 0 0;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-top: 5em;
}

img {
  width: 15em;
  height: 10em;
  /* margin-left: 425px */
  /* padding-left seems to squish things so I'm doing a margin for now */
}

.flex-container {
  display: flex;
  flex-direction: row;
  background: radial-gradient(#ffffff, #fffefe00);
  flex-wrap: wrap;
  align-content: center;
  /* this seems to override setting titleLeftAlign as the classname on a div within flex-container */
  margin: 28.5vh;
  margin-top: 1vh;
  /* we want to set the margin-top to override the default, which is 9vw all around */
}

.flex-container > div {
  background: linear-gradient(#0501ff5d, #a5a3a35d);
  width: 41vh;
  height: 39vh;
  text-align: center;
  font-size: 1em;
  border-style: groove;
  justify-content: space-between;
  margin: 1vw;
}

button {
  text-align: right;
  background-color: rgb(255, 255, 255);
  text-align: center;
}

form {
  text-align: right;
  padding-right: 7vw;
  padding-left: 3vw;
}

.addForm {
  text-shadow: 2px 2px #32005a42;
  font-weight: bold;
  font-family: georgia, serif;
  border-top-left-radius: 3rem;
  border-top-style: groove;
  border-left-style: inset;
  border-right-style: outset;
  border-bottom-style: dotted;

}

.title {
  font-weight: bold;
  text-align: center;
}
.titleLeftAlign {
  font-weight: bold;
  text-align: left;
  margin-left: 15vw;
}

.image {
  border-style: ridge;
}

.singleCampus {
  max-width: 20vw;
  word-wrap: break-word;
}

.addFormWithMargin {
  margin-top: 15vh;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  color: white;
  text-align: left;
}
