/*
 * Hi! I'm your stylesheet! I've got some sensible defaults here,
 * but feel free to change me to your heart's content!
 */

* {
  box-sizing: border-box;
  font-family: georgia, sans-serif;
}

body {
  background: linear-gradient(to right, #d4d4d4, #5e5e5e8f, #d4d4d4, #5e5e5ec0, #d4d4d4, #5e5e5e8f, #d4d4d4);
  background-repeat: repeat;
  height: 100vh;
  padding: 0;
  margin: 0;
  width: 100vw;
}

nav {
  align-items: center;
  background-color: #c5b1c3;
  color: #c0c0c0;
  display: flex;
  height: 80px;
  padding: 10px;

  flex-wrap: wrap;
  border-radius: 0 0 1em 1em;
  justify-content: space-between;
  transform: translateY(0em);
  transition: transform 1s;
  position: fixed;
  z-index: 0;
  top: 0px;
  left: 15px;
  align-self: flex-end;
  box-shadow: 0.1vw 0.2vw #3a1e1e;
}

nav.active {
  transform: translateY(-6em);
}

nav a {
  font-size: 2em;
  border-radius: 1vw;
  transition: color 0s, background-color 0s;
}
nav a:hover {
  color: #0048ff;
  background-color: rgba(157, 148, 190, 0.603);
  box-shadow: #000000;
}

.singleLink {
  height: 1.5em;
  margin: 0 1.5em 0 0;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-top: 5em;
}

img {
  width: 150px;
  height: 170px;
  /* margin-left: 425px */
  /* padding-left seems to squish things so I'm doing a margin for now */
}

.flex-container {
  display: flex;
  flex-direction: column;
  background: radial-gradient(#9e656f6e, #b191e52d);
  justify-content: space-around;
}

.flex-container > div {
  background: linear-gradient(#a5a3a363, #9ba08c5d, #a5a3a35d);
  width: 600px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  border-style: groove;

}

button {
  text-align: right;
  background-color: rgba(83, 146, 88, 0.425);
}

form {
  text-align: right;
  background-color: rgba(55, 158, 255, 0.459);
}
